@font-face {
  font-family: "iconfont"; /* Project id 4124176 */
  src: url('iconfont.woff2?t=1716973894772') format('woff2'),
       url('iconfont.woff?t=1716973894772') format('woff'),
       url('iconfont.ttf?t=1716973894772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}

.icon-bingzhuangtucopy:before {
  content: "\e6c6";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-zhexiantu:before {
  content: "\eb2d";
}

.icon-tubiaozhuzhuangtu:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e8b8";
}

